{% extends "catalog/base.html" %}
{% load img_tag %}

{% block content %}

<body>

<div align="center">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="catd-header">
            <h3 class="card-title">Вход</h3>
        </div>
        <div class="card-body">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success"> Войти </button>
            <a class="btn btn-warning" href={% url 'users:restore-password' %}>Восстановить пароль</a>
        </div>

    </form>
</div>


</body>


{% endblock %}
