{% extends "catalog/base.html" %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Категории</h1>
</div>

<div class="mx-auto row">
    {% for category in object_list %}
    <div class="col-md-4 text-center">
        <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ category.name }}</h4>
                </div>
                <div class="card-body">
                    {{ category.description }}
                </div>
            </div>
    </div>
    {% endfor %}
</div>

{% endblock %}