{% extends "catalog/base.html" %}
{% load img_tag %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
        продать</p>
</div>

<div class="row">
    {% for product in object %}
        <div class="col-md-4 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <img height=100 width=100 src={% img_tag product.preview %} >
                    <h1 class="card-title pricing-card-title"> {{ product.price }} ₽</h1>
                    <p>
                        {{ product.description|truncatechars:100 }}
                    </p>
                    <a type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</a>
                    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href={% url "catalog:product" pk=product.pk %} >Инфо</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}